<% content_for :header do %>
<h1>New Event</h1>
<% end %>

<% content_for :body do %>
  <% form_for @event do |f| -%>
    <ol class="formlist">
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :venue_id, "Venue" %>
        <%= f.select :venue_id, Venue.all.collect{|v| [v.name, v.id]} %>
      </li>
      <li>
        <%= f.label :introduction %>
        <%= f.text_area :introduction, :rows=>5 %>
      </li>
      <li>
        <%= f.label :text %>
        <%= f.text_area :text, :rows=>5 %>
      </li>
      <li>
        <%= f.label :tickets_released %>
        <%= f.text_field :tickets_released %>
      </li>
      <li>
        <%= f.label :availability_start %>
        <%= f.datetime_select :availability_start %>
      </li>
      <li>
        <%= f.label :availability_end %>
        <%= f.datetime_select :availability_end %>
      </li>

      <li><%= f.submit "save" %></li>
    </ol>
  <% end -%>
<% end %>