<% content_for :header do %>
  <h1>Conferencr</h1>
  <h2>Purchase a <%= @ticket.ticket_name %> ticket for <%= @event.name %></h2>
<% end %>

<% content_for :body do %>
  <%= render :partial => "events/show" %>

  <%= @ticket.ticket_name %>
  
  <%= link_to "Purchase", purchase_ticket_path(@event, @ticket)%>
<% end %>