<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Conferencr</title>
  
  <style type="text/css" media="screen">
    #wrapper { width: 960px; margin: 0 auto;} 
    #header {}
    #main { width: 700px; float: left; }
    #column { float: left; width: 240px; margin-left: 20px;}
    #footer { clear: left;}
  </style>
</head>

<% overflow_content = yield %>

  <body id="application.html" onload="">
    <div id="wrapper">
      <div id="header">
        <% header = yield :header %>
        <%= header || "<h1>Conferencr</h1>" %>
        <hr />
      </div>
    
      <div id="main">
        <%= flash[:errors] %>
        <%= flash[:notices] %>
        <%= yield :body %>
        <%= overflow_content%>
      </div>
    
      <div id="column">
        <%= yield :column%>
      </div>
    
      <div id="footer">
        <hr />
        2010 by infinity21
      </div>
    </div>
  </body>

</html>